.footer {
  margin-top: 20px;
  background: #212121;
  padding: 30px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* color: white; */
}

.footer .title {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.copyright {
  text-align: right;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  /* background: purple; */
}

.copyright a {
  color: inherit;
  display: inline;
}

.copyright.owner {
  text-align: left;
}

.copyright {
  font-size: 0.875rem;
}

.footer-bottom {
  margin-bottom: 50px;
  text-align: center;
}

.payment-img {
  max-width: 335px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
}

/* footer nav */

.footer-nav {
  border-bottom: 1px solid var(--onyx);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav .nav-title {
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  font-weight: var(--weight-500);
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-nav .nav-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background: var(--salmon-pink);
  border-radius: 1px;
}

.footer-nav-item {
  padding: 3px 0;
}

.footer-nav-link,
.content,
.footer-nav-item {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  width: max-content;
  text-transform: capitalize;
  transition: var(--transition-timing);
}

.footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav .social-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
